.App {
  text-align: center;
}

div,
span,
h1,
p,
button {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(38, 180, 38);
  font-size: 50px;
}

.container {
  display: flex;
  justify-content: center;
  width: 70%;
}
.sub-container {
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
  height: 50vh;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-change {
  width: 60%;
  height: 60px;
  background-color: rgb(38, 180, 38);
  color: white;
  font-size: 20px;
  border: none;
}

.sub-container-1 {
  height: 80%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.file-input-label {
  position: relative;
  display: inline-block;
  overflow: hidden;

  cursor: pointer;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
}
